@import url("https://fonts.googleapis.com/css?family=Google+Sans:200,300,400,500,600,700,900");

@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-5 lg:px-10 py-10;
}

* {
  font-family: "Google Sans", "Poppins";
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
